.calculator {
  p {
    font-size: 30px;
  }
}

.quotes {
  margin: 20px 0;

  .image {
    width: 200px;
    border-radius: 50%;
  }

  .p-quotes {
    width: 50%;
    padding: 20px 30px;

    li,
    p {
      margin: 0;
      font-size: 15px;
      font-style: italic;
    }
  }
}
